@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bitcount+Grid+Double+Ink:wght@100..900&family=Bitcount:wght@100..900&family=Fontdiner+Swanky&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bitcount+Grid+Double+Ink:wght@100..900&family=Bitcount:wght@100..900&family=Eater&family=Fontdiner+Swanky&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bitcount+Grid+Double+Ink:wght@100..900&family=Bitcount:wght@100..900&family=Eater&family=Fontdiner+Swanky&family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bitcount+Grid+Double+Ink:wght@100..900&family=Bitcount:wght@100..900&family=Eater&family=Fontdiner+Swanky&family=Londrina+Shadow&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bitcount+Grid+Double+Ink:wght@100..900&family=Bitcount:wght@100..900&family=Cinzel:wght@400..900&family=Eater&family=Fontdiner+Swanky&family=Londrina+Shadow&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bitcount+Grid+Double+Ink:wght@100..900&family=Bitcount:wght@100..900&family=Cinzel:wght@400..900&family=Eater&family=Fontdiner+Swanky&family=Londrina+Shadow&family=Luckiest+Guy&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bitcount+Grid+Double+Ink:wght@100..900&family=Bitcount:wght@100..900&family=Cinzel:wght@400..900&family=Eater&family=Fontdiner+Swanky&family=Londrina+Shadow&family=Luckiest+Guy&family=Monoton&family=Press+Start+2P&display=swap');


@import "tailwindcss";

@theme {
  --font-Audiowide: 'Audiowide', sans-serif;
  --font-Bitcount-Grid-Double-Ink: 'Bitcount Grid Double Ink', sans-serif;
  --font-Bitcount: 'Bitcount', sans-serif;
  --font-Fontdiner-Swanky: 'Fontdiner Swanky', cursive;
  --font-Eater: 'Eater', cursive;
  --font-Londrina-Shadow: 'Londrina Shadow', cursive;
  --font-Luckiest-Guy: 'Luckiest Guy', cursive;
  --font-Cinzel: 'Cinzel', serif;
  --font-Monoton: 'Monoton', cursive;
  --font-Press-Start-2P: 'Press Start 2P', cursive;
}