@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bitcount+Grid+Double+Ink:wght@100..900&family=Bitcount:wght@100..900&family=Cinzel:wght@400..900&family=Eater&family=Fontdiner+Swanky&family=Londrina+Shadow&family=Luckiest+Guy&family=Monoton&family=Press+Start+2P&display=swap');

@import "tailwindcss";

@theme {
  --font-Audiowide: 'Audiowide', sans-serif;
  --font-Bitcount-Grid-Double-Ink: 'Bitcount Grid Double Ink', sans-serif;
  --font-Bitcount: 'Bitcount', sans-serif;
  --font-Fontdiner-Swanky: 'Fontdiner Swanky', cursive;
  --font-Eater: 'Eater', cursive;
  --font-Londrina-Shadow: 'Londrina Shadow', cursive;
  --font-Luckiest-Guy: 'Luckiest Guy', cursive;
  --font-Cinzel: 'Cinzel', serif;
  --font-Monoton: 'Monoton', cursive;
  --font-Press-Start-2P: 'Press Start 2P', cursive;

  /* BACKGROUND LIGHT MODE */
  --color-background: var(--color-gray-100);
  --color-background-hover: var(--color-gray-200);

  /* BACKGROUND DARK MODE */
  --color-background-dark: var(--color-gray-800);
  --color-background-dark-hover: var(--color-gray-700);

  /* FOREGROUND LIGHT MODE */
  --color-foreground: var(--color-gray-800);
  --color-foreground-hover: var(--color-gray-700);

  /* FOREGROUND DARK MODE */
  --color-foreground-dark: var(--color-gray-100);
  --color-foreground-dark-hover: var(--color-gray-200);
}

@layer components {
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s ease;
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }
  
  .btn {
    @apply
      /* LIGHT MODE */
      bg-foreground
      hover:bg-foreground-hover
      text-background

      /* DARK MODE */
      dark:bg-background
      dark:hover:bg-background-hover
      dark:text-foreground

      /* COMMON */
      px-4
      py-2
      rounded-md
      cursor-pointer;
  }
}

@layer base {
  body {
    @apply
      /* LIGHT MODE */
      bg-background
      text-foreground

      /* DARK MODE */
      dark:bg-background-dark
      dark:text-background

      /* TEXT */
      text-sm;
  }
}